<div id="navbar">

</div>
<!-- <mat-toolbar color="primary">
  <mat-toolbar-row >
    <div ui-view="" class="tc-global-header-container" >
      <div class = "tc-global-header">
          <a href="">
            <div class="header-logo">
              <span><b>TIBCO</b> CLOUD B2B</span>
            </div>
          </a>
          <div class="tc-icon-tray">
              <ul class="tc-global-header-nav">
                  <li class="tc-header-nav-item profile"><span class="tc-profile-name">Jack Williams</span></li>
                  <li class="tc-header-nav-item notifications"><img src="../assets/images/ic-profile-active.svg" /></li>
                  <li class="tc-header-nav-item picker"><img src="../assets/images/ic-product-picker.svg" /></li>
              </ul>
          </div>
      </div>
      <div class="tc-container-background"></div>
      <div class="tc-panel-background"></div>
      <div class="tc-panel-container">
          <div class="tc-panel-body"></div>
          <div class="tc-panel-footer"></div>
      </div>
    </div>
  </mat-toolbar-row>
</mat-toolbar> -->
