.icon-color{
    color: red;
}

.demo-tab-content{
    margin-left: 15px;
}

.padding-5{
    padding: 5px;
}

.primary-search{
    width: 500px;
    height: 30px;
   
}

.primary-search-select{
    width: 100px;
    background-color: #d4d4d4;
    height: 25px;
    padding-top: 3px;
    border-radius: 4px;
    color: black;
    padding-right: 25px;
    padding-left: 25px;
}

.full-width{
    width: 100%
}

.red{
    background-color: red;
}

.grey-box{
    background-color: #d4d4d4;
}

.header-text{
    font-size: 18px;
    margin-right: 10px;
}

.mat-select-trigger {
    margin-right: 25px !important;
}

mat-header-cell {
    background-color:#d4d4d4;
  }