
:host { margin-top: 50px; }

.icon-color{
    color: red;
}

.demo-tab-content{
    margin-left: 15px;
}

.padding-5{
    padding: 5px;
}

.primary-search-input, .primary-search-input-filtered {
    width: 500px;
    border: 2px solid #e6e6e6;
    border-radius: 4px;
    color: #666;
    height: 26px;
    padding: 2px;
    background-color: #fff;
    border-bottom-left-radius:0;
    border-top-left-radius:0;
    border-left: 0;
    padding-left: 4px;
    padding-right: 6px;

}

.primary-search-select, .primary-search-select-filtered{
    width: 100px;
    height: 31px;
    background-color: #d4d4d4;
    padding-top: 3px;
    border-radius: 4px;
    color: black;
    padding-right: 25px;
    padding-left: 25px;
    border-bottom-right-radius:0;
    border-top-right-radius:0;
    padding-left: 6px;
    text-align: center;
}

.primary-search-input-filtered, .primary-search-select-filtered{
    margin-top: 3px;
}

.full-width{
    width: 100%
}

.red{
    background-color: red;
}

.grey-box{
    background-color: #d4d4d4;
}

.header-text{
    font-size: 18px;
    margin-right: 10px;
}

.mat-select-trigger {
    margin-right: 25px !important;
}

mat-header-cell {
    background-color:#d4d4d4;
  }

.grey-pillbox{
    border: 1px solid #e6e6e6;
    border-radius: 4px;
    color: #666;
    padding: 2px;
    width: 50px;
    background-color: #d4d4d4;
    margin-bottom: 12px;
}
