Transactions
<mat-select class="primary-search-select" placeholder="Transactions">
    <mat-option *ngFor="let food of foods" [value]="food.value">
      {{ food.viewValue }}
    </mat-option>
</mat-select>
<mat-form-field class="primary-search">
  <input class="primary-search-input" matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
</mat-form-field>
<button mat-button color="primary" (click)="saveColumns()"> + </button>
<button mat-raised-button color="primary" (click)="saveColumns()">Search <mat-icon svgIcon="ic-maintenance"></mat-icon></button>
<br><br>

<div class="mat-elevation-z8">
    <mat-tab-group class="demo-tab-group full-width">
        <mat-tab label="Tab 1">
          <ng-template mat-tab-label>
          <mat-icon svgIcon="ic-document"></mat-icon>
          </ng-template>
            <!-- Columns List Comp -->
          <div class="demo-tab-content">
            <form [formGroup] ="form">
            <mat-checkbox 
            class= "padding-5"
            *ngFor="let column of displayedColumns" 
            (change)="toggleColumn(column)" 
            formControlName="{{ column }}">{{ column }}</mat-checkbox>
            <button mat-raised-button color="primary" (click)="saveColumns()">Save</button>
            </form>
          </div>
        </mat-tab>
      
          <!-- Filters Comp -->
          <mat-tab label="Tab 2">
              <ng-template mat-tab-label>
              <mat-icon svgIcon="ic-maintenance"></mat-icon>
              </ng-template>
            <div class="demo-tab-content">
              <mat-form-field  *ngFor="let column of intDisplayedColumns" >
                  <mat-select placeholder="{{column}}">
                    <mat-option *ngFor="let food of foods" [value]="food.value">
                      {{ food.viewValue }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <button mat-raised-button color="primary" (click)="saveColumns()">Apply</button>
            </div>  
          </mat-tab>
        </mat-tab-group>
        
  <mat-table class="full-width" #table [dataSource]="dataSource" matSort aria-label="Elements">

    <!-- Position Column -->
    <ng-container matColumnDef="position">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Position</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.position}}</mat-cell>
    </ng-container>

    <!-- weight Column -->
    <ng-container matColumnDef="weight">
      <mat-header-cell *matHeaderCellDef mat-sort-header>weight</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.weight}}</mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.name}}</mat-cell>
    </ng-container>

    <!-- symbol Column -->
    <ng-container matColumnDef="symbol">
      <mat-header-cell *matHeaderCellDef mat-sort-header>symbol</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.symbol}}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="intDisplayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: intDisplayedColumns;"></mat-row>
  </mat-table>

  <mat-paginator #paginator
    [length]="dataSource.data.length"
    [pageIndex]="0"
    [pageSize]="5"
    [pageSizeOptions]="[5, 10, 50, 100]">
  </mat-paginator>
      
</div>

  <!-- Get Table Rows -->
  <tr *ngFor="let t of todos | async">
      <td [class.completed]="t.isCompleted">{{ t.display_name }}</td> 
    </tr>

<div class="full-width red"> ITEM</div>