<span class="header-text">Transactions</span>

<span style="line-height: 25px">
<mat-select  #colNames class="primary-search-select" placeholder="Transactions">
    <mat-option 
    *ngFor="let a of todos | async"
    [value]="a.display_name"
    (onSelectionChange)= "changeSearchText( $event, a.display_name )">
      {{ a.display_name }}
    </mat-option>
</mat-select>

<span>
  <input class="primary-search-input" 
  #topic
  placeholder="{{searchString}}">
</span>

</span>

<button mat-button color="primary" (click)="addSearch(topic, colNames)"> + </button>
<button mat-raised-button color="primary" (click)="saveColumns()">Search   <mat-icon class="padding-5" svgIcon="search"></mat-icon></button>

<br><br>
<div *ngIf="!isOn" style="line-height: 25px; display: table; margin-left: 105px;">
<!-- <div *ngIf="!isOn" style="width: 100%; display: table;"> -->
    <div style="display: flex; margin-bottom: 5px;">
        <div style="display: table-cell;"> 
            <div class="primary-search-select-filtered" *ngFor="let searches of form.get('searches').controls"> {{ searches.value }}</div>
          </div>
        <div style="display: table-cell;">
                <div   style="vertical-align: top;" class="primary-search-input-filtered" *ngFor="let topic of form.get('topics').controls">
                    {{ topic.value }}
                </div>
             </div>
    </div>
<!-- </div> -->
  </div>

<br><br>

<div *ngIf="isOn" style="width: 100%; margin-bottom: 12px;">
              <span> Search Results of </span>
              <span 
              class="grey-pillbox"
              *ngFor="let topic2 of form.get('topics').controls"
              (click)="removeResult( topic2 )" >
                  {{ topic2.value }} X
              </span>
</div>

<div>
  <mat-table class="full-width" #table [dataSource]="dataSource" matSort aria-label="Elements">

    <!-- Position Column -->
    <ng-container matColumnDef="position">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Position</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.position}}</mat-cell>
    </ng-container>

    <!-- weight Column -->
    <ng-container matColumnDef="weight">
      <mat-header-cell *matHeaderCellDef mat-sort-header>weight</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.weight}}</mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.name}}</mat-cell>
    </ng-container>

    <!-- symbol Column -->
    <ng-container matColumnDef="symbol">
      <mat-header-cell *matHeaderCellDef mat-sort-header>symbol </mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.symbol}}</mat-cell>
    </ng-container>
    
    <!-- Buttons in the Header
    <ng-container matColumnDef="filters">
        <mat-header-cell *matHeaderCellDef> <button mat-raised-button ><mat-icon svgIcon="ic-maintenance"></mat-icon></button></mat-header-cell>
    </ng-container> 

    <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef> <button mat-raised-button ><mat-icon svgIcon="ic-document"></mat-icon></button></mat-header-cell>
    </ng-container> -->

    <mat-header-row *matHeaderRowDef="intDisplayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: intDisplayedColumns;"></mat-row>
  </mat-table>

  <mat-paginator #paginator
    [length]="dataSource.data.length"
    [pageIndex]="0"
    [pageSize]="5"
    [pageSizeOptions]="[5, 10, 50, 100]">
  </mat-paginator>
      
</div>

    <mat-tab-group class="">
        <mat-tab label="Tab 1">
          <ng-template mat-tab-label>
          <mat-icon svgIcon="ic-document"></mat-icon>
          </ng-template>
            <!-- Columns List Comp -->
          <div class="demo-tab-content">
            <form [formGroup] ="form">
            <mat-checkbox 
            class= "padding-5"
            *ngFor="let column of displayedColumns" 
            (change)="toggleColumn(column)" 
            formControlName="{{ column }}">{{ column }}</mat-checkbox>
            <button mat-raised-button color="primary" (click)="saveColumns()">Save</button>
            </form>
          </div>
        </mat-tab>
      
          <!-- Filters Comp -->
          <mat-tab label="Tab 2">
              <ng-template mat-tab-label>
              <mat-icon svgIcon="ic-maintenance"></mat-icon>
              </ng-template>
            <div class="demo-tab-content">
              <mat-form-field  *ngFor="let column of intDisplayedColumns" >
                  <mat-select placeholder="{{column}}">
                    <mat-option *ngFor="let food of foods" [value]="food.value">
                      {{ food.viewValue }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <button mat-raised-button color="primary" (click)="saveColumns()">Apply</button>
            </div>  
          </mat-tab>
        </mat-tab-group>

        <!-- <div  *ngFor="let g of transactions | async"> {{ g.trans_id }} </div> -->
