<div class="transaction-details-single-status">
    <div class="transaction-status-items">
        <div class="status-item selected-state">State Name: {{current.trans_state}}</div>
        <div class="status-item">
            <div class="status-title">Status:</div>
            <div class="status-desc">{{current.trans_status}}</div>
        </div>
        <div class="status-item">
            <div class="status-title">Description:</div>
            <div class="status-desc">{{current.trans_desp}}</div>
        </div>
        <div class="status-item">
            <div class="status-title">Time Stamp:</div>
            <div class="status-desc">{{current.trans_ts }}</div>
        </div>
    </div>
</div>