
.transaction-details-single-status .selected-state{
    font-weight: bold;
    font-size: 18px;
}
.transaction-details-single-status .status-item{
    padding: 25px 50px;
    line-height: 20px;
}
.transaction-details-single-status .status-title{
    color:#ccc;
}
