<div class="transaction-details-single-status">
    <div class="transaction-status-items">
        <div class="status-item selected-state">State Name: {{selectedTransaction.state}}</div>
        <div class="status-item"><div class="status-title">Status:</div><div class="status-desc">{{selectedTransaction.status}}</div></div>
        <div class="status-item"><div class="status-title">Description:</div><div class="status-desc">{{selectedTransaction.description}}</div></div>
        <div class="status-item"><div class="status-title">Time Stamp:</div><div class="status-desc">{{selectedTransaction.timeStamp}}</div></div>
      </div>
   </div>
   