.mat-expansion-panel{
  box-shadow:none !important;
}
.mat-expansion-panel-header{
  background-color: #f4f4f4;
  border-bottom: 1px solid #bbb;
}
.mat-form-field{
  width:85%;
}
.mat-form-field input{
  text-transform: capitalize;
}
.accordion{
    border-bottom: 1px solid #ccc;
    text-decoration: none;
    font-size:0.75em;
   color:#000;
}
.settings{
  padding:12px;
}
::ng-deep .card{
    border:none;
    /* border-bottom:1px solid #ccc;
    padding-top:10px;
    padding-bottom:10px; */
}

::ng-deep .card-header a,::ng-deep .card-body{
    text-decoration: none;
    color:#706e6b;
    font-size:0.75em;
  }

.stateConfigList{
  padding-top: 25px;
  padding-right:50px;
}
.stateConfigList >ul{
  list-style-type: none;
}

.stateConfigList li{
  text-transform: capitalize;
  padding: 12PX 8px;
  border-bottom:1px solid #e6e6e6;
}
/* Add State Button */
button[name="addStateBtn"]{
  float: right;
  background: #1d426f;
  border: none;
}
button[name="addStateBtn"]:hover{
      box-shadow: 1px 1px 4px black;
}
.stateOptions{
  float:right;
}

.stateOptions button{
  background:inherit;
  border:none;
  padding:0;
  cursor:pointer;
  margin:0px 10px;
}
/* #addStateBlock{
  display:flex;
} */
#addStateBlock input{
  width:90%;
  padding:10px;
  font-style:italic;
  background:#f7f7f7;
  border-radius:5px;
  border: 1px solid #e6e6e6;
}
#addStateBlock button{
  background:inherit;
  border:none;
  padding:0;
  cursor:pointer;
  margin:0px 10px;
}
