<div class="settings">
  <h2>Settings</h2>
  
<ngb-accordion >
  <ngb-panel class="panel">
    <!--  -->
    <ng-template ngbPanelTitle>
      <span class="title">General Settings</span>
    </ng-template>
    <ng-template ngbPanelContent>
     BlockChain Feature
    </ng-template>
  </ngb-panel>
  <ngb-panel>
      <!--  -->
      <ng-template ngbPanelTitle>
        <span>State Configuration</span>
      </ng-template>
      <ng-template ngbPanelContent>
       <div class="stateConfigList">
          <div class="addStatusButton">
              <button  class="btn btn-primary-outline pull-right" (click)="addState()">Add State</button>
              <div *ngIf="isAddStateClick;" class="addStateText">
               <input type="text"  name="addStateTextFeild" class="form-control" />
             </div>
           </div>
         <div class="listDiv">
         <p>List of States</p> 
         <ul class="stateLists">
        
            <li *ngFor="let state of States">
             {{state.name}}
            </li>
        </ul>
        </div>
       
        </div>
     
      </ng-template>
    </ngb-panel>
    <ngb-panel>
        <!--  -->
        <ng-template ngbPanelTitle>
          <span>Status Configuration</span>
        </ng-template>
        <ng-template ngbPanelContent>
            <div class="statusConfigList">
                <div class="listDiv">
                <p>List of Status</p> 
               
                <ul class="statusLists ">
               
                   <li *ngFor="let status of Status">
                    {{status.name}}
                   </li>
               </ul>
                
              
               </div>
             </div>
        </ng-template>
      </ngb-panel>
</ngb-accordion>
</div>