<ng-container >
  <mat-sidenav-container class="nav-container">
    <mat-sidenav #sidenav mode="side" opened="true" class="sidenav" [fixedInViewport]="true" [fixedTopGap]="60" [fixedBottomGap]="0">
				<mat-nav-list>
				        <a mat-list-item [disableRipple]="true" routerLinkActive="active" [routerLink]="navItem.path" *ngFor="let navItem of navList">{{navItem.name}}</a>
				</mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content class="main">
			<!--The content below is only a placeholder and can be replaced.-->

			<router-outlet></router-outlet>


    </mat-sidenav-content>
  </mat-sidenav-container>

</ng-container>
