<div class="side-navagation">
	<ul>
		<!--<li routerLinkActive="active"><a [routerLink]="['/details', 5]"> Details Page (HardCoded to 5 ATM)</a></li>-->
		<li routerLinkActive="active"><a routerLink="/home"> Home</a></li>
		<li routerLinkActive="active"><a routerLink="/settings"> Settings</a></li>
		<li routerLinkActive="active"><a routerLink="/transactions"> Transactions</a></li>
		<li routerLinkActive="active"><a routerLink="/transactionsDetails"> Transactions Details</a></li>
		<li routerLinkActive="active"><a routerLink="/MagicDinos"> Test the 404</a></li>
	</ul>
</div>