.active {
	background-color: #fff;
}
.side-navagation .active a{
    color: #6296E8;
}

.side-navagation {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #0E123C;
    overflow-x: hidden;
    padding-top: 60px;
}
.side-navagation ul{
    padding-left:0px;
    padding-top:40px;
}
.side-navagation li{
    list-style: none;
}

.side-navagation a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 1em;
    color: #ffffff;
    display: block;
}

.side-navagation a:hover {
    color: #f1f1f1;
}