.main {
    float: left;
    margin-top: 20px;
    margin-left: 20px;
    width:85%;
}
app-side-navigation{
  float:left;
  height:auto;
  min-height:200px;
  width:150px;
}
header{
    height: 50px;
}
