<p>
  Transactions
</p>

<table> 

  <!-- Get Table Headers -->
  <tr>
    <th *ngFor="let t of users | async" [class.completed]="t.isCompleted" >{{ t.id }}</th>
    <th><button (click)="loadFilters()">Filters</button></th>
    <th><button (click)="loadColumnSelection()">Column Selection</button></th>
  </tr>

  <!-- Get Table Rows -->
  <tr *ngFor="let t of todos | async">
    <td [class.completed]="t.isCompleted">{{ t.title }}</td> 
    <td [class.completed]="t.isCompleted">{{ t.id }}</td> 
    <td [class.completed]="t.isCompleted">{{ t.completed }}</td> 
    <td [class.completed]="t.isCompleted">{{ t.id }}</td> 
    <td [class.completed]="t.isCompleted">{{ t.id }}</td> 
    <td [class.completed]="t.isCompleted">{{ t.id }}</td> 
    <td [class.completed]="t.isCompleted">{{ t.id }}</td> 
    <td [class.completed]="t.isCompleted">{{ t.id }}</td> 
    <td [class.completed]="t.isCompleted">{{ t.id }}</td> 
    <td [class.completed]="t.isCompleted">{{ t.id }}</td> 
  </tr>
</table>