.transaction-details-page{
    display: table;
    width: 100%;
    table-layout: fixed;
}

.transaction-details-content{
    display: table-row;
    position: relative;
}

app-transaction-details-summary{
    display: table-cell;
    width: 30%;
    vertical-align: top;
    background-color: #eeeeee;
}
.transaction-status-wrapper{
    display: table-cell;
    width: 70%;
    vertical-align: top;
    background-color: #ffffff;
    position: relative;
}
.transaction-status-wrapper .change-view{
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 2;
    border:none;
    outline: none;
    cursor: pointer;
}
.transaction-status-wrapper .change-view.grid{
    background-image: url("/assets/images/grid.png");
    width:28px;
    height: 24px;
    background-size: 100%;
    background-repeat: no-repeat;
}
.transaction-status-wrapper .change-view.chart{
    background-image: url("/assets/images/chart.png");
    width:28px;
    height: 28px;
    background-size: 100%;
    background-repeat: no-repeat;
}

