table {
    border-collapse: collapse;
}

.ColumnsRow {
    background-color: #ABA9A9;
    height: 5em;
    padding-left: 1.5em;
}

.checkbox-holder {
    margin-left: 5em;
}

.filters-save-button {
    margin-left: 13em;
}

.columns-filter-holder {
    margin-left: 1em;
    width: 10em;
}

.apply-filter-button {
    margin-right: 1em;
}

.header-cell-text {
    border-bottom: 1px solid #ACABAC;
    padding-bottom: 3px;
    padding-left: 6px;
    padding-right: 6px;
    color: #8A8A8A;
}

.header-cell {
    padding-bottom: 15px;
    padding-top: 5px;
    width: 13%;
}

.demo-tab-content {
    margin-left: 15px;
}

.header-cell-icon {
    padding-left: 10px;
    width: 18px;
    height: 18px;
}

.checkbox-style {
    padding: 1em;
}

.hero-search-area {
    padding-top: 15px;
}

.primary-search-input,
.primary-search-input-filtered {
    width: 500px;
    border: 1px solid #e6e6e6;
    border-radius: 4px;
    color: #666;
    height: 27px;
    padding: 2px;
    background-color: #fff;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border-left: 0;
    padding-bottom: 0px;
    padding-left: 4px;
    padding-right: 6px;
}

.filters-select {
    width: 90px;
    height: 26px;
    padding-top: 5px;
    border-radius: 4px;
    padding-right: 25px;
    padding-left: 6px;
    text-align: center;
    background: white;
    margin: 12px;
}

.primary-search-select-filtered {
    background-color: #d4d4d4;
}

.primary-search-select {
    background-color: #0081cb;
}

.primary-search-select,
.primary-search-select-filtered {
    width: 100px;
    height: 26px;
    padding-top: 5px;
    border-radius: 4px;
    padding-right: 25px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    padding-left: 6px;
    text-align: center;
}

.primary-search-input-filtered,
.primary-search-select-filtered {
    margin-top: 3px;
}

.full-width {
    width: 95%;
    margin-top: 10px;
}

.grey-box {
    background-color: #d4d4d4;
}

.header-text {
    font-size: 18px;
    margin-right: 30px;
}

.mat-select-trigger {
    margin-right: 25px !important;
}

.header-row {
    background-color: #e8e7e7;
}

.grey-pillbox {
    border: 1px solid #e6e6e6;
    border-radius: 4px;
    color: #666;
    padding: 2px;
    width: 50px;
    background-color: #d4d4d4;
    margin-bottom: 12px;
}

.header-cell-button {
    background-color: #797979;
    width: 3%
}

.active {
    background-color: #ABA9A9
}

.table-row {
    border-bottom: 1px solid #ABA9A9;
}

.td-styles {
    padding: 11px;
}

.search-content-area {
    line-height: 25px;
    display: table;
    margin-left: 125px;
}


/*Change the select text color with something *like this*
.md-select-value-text{
    color: white;
}*/

.filterResultsRow {
    border-width: 2px;
    height: 50px;
    margin-top: 20px;
}

.filterResultsRow td {
    padding-top: 20px;
}

.selectedFiltersData {
    display: flex;
    width: 97%;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 15px 10px 15px 20px;
    border-style: dashed;
    border-color: #ccc;
}

.clearFilters {
    background-color: #FF9407;
    border-radius: 3px;
}

.clearFilters .mat-button.mat-primary,
.clearFilters .mat-icon-button.mat-primary {
    color: #fff;
}

.filterTxt {
    padding-right: 20px
}

.searchResults {
    margin-top: 10px;
}

.selectedFiltersData .grey-pillbox,
.searchResults .grey-pillbox {
    padding: 5px 10px;
    border-radius: 8px;
    margin-right: 8px;
    margin-left: 8px;
}

.selectedFiltersData .grey-pillbox span,
.searchResults .grey-pillbox span {
    font-size: 0.85em;
    padding-left: 10px;
}