/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
@import "~font-awesome/css/font-awesome.min.css";


body {
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  background: rgb(244, 244, 244);
}
